@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

/* Banner-Page Style Starts */
.banner-page{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(51, 51, 51, 0.788) 100%);
}
.brand{
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 0, 132);
    font-style: italic;
}
.nav-bar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}
.menu-bar-img{
    display: none;
}
.nav-item{
    list-style: none;  
}
.nav-links{
    display: flex;
    gap: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    border-radius: 20px;
    padding: 8px;
    padding-right: 15px;
    padding-left: 3px;
}
.home{
    padding: 5px 15px;
    border: none;
    background-color: rgb(255, 0, 132);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.banner-content-container{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.banner-img{
    width: 100%;
    height: 100%;
}
.banner-title{
    color: white;
    text-align: start;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 60px;
    margin-bottom: 30px;
}
.shape-text{
    font-family: "Dancing Script", cursive;
    font-style: italic;
}
.banner-description{
    color: rgb(183, 183, 183);
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
}
.banner-button-first{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(255, 0, 132);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-right: 10px;
}
.banner-button-second{
    width: 150px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.banner-card-container{
    display: flex;
    gap: 140px;
}
.banner-card-1{
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-left: -70px;
    margin-top: -150px;
}
.banner-card-1 h3{
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 900;
}
.banner-card-1 p{
    font-family: "DM Sans", sans-serif;
    color: rgb(203, 203, 203);
    font-size: 13px;
    font-weight: 200;
}
#circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 0, 132);
}
.banner-card-2{
    width: 130px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    border-radius: 8px;
    text-align: start;
    align-content: center;
    margin-top: -440px;
}
.banner-card-2 h2{
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 900;
}
.banner-card-2 p{
    font-family: "DM Sans", sans-serif;
    color: rgb(203, 203, 203);
    font-size: 13px;
    font-weight: 200;
}
/* Banner-Page Style Ends */

/* Change-Habits-Starts */
.change-habits-section{
    margin-top: 100px;
    background-color: black;
    padding-left: 150px;
    padding-right: 150px;
}
.change-habits-text-container h1{
    text-align: center;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 60px;
    margin-bottom: 20px;
}
.change-habits-text-container p{
    text-align: center;
    color: rgb(128, 127, 127);
    font-weight: 300;
    margin-bottom: 60px;
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
}
.change-habits-card-container{
    display: flex;
    justify-content: space-around;
}
.change-habits-card-title{
    text-align: center;
    color: rgb(255, 0, 132);
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 9px;
}
.change-habits-card-description{
    text-align: center;
    color: rgb(128, 127, 127);
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
}
.change-habits-img{
    width: 100%;
    border-radius: 50%;
}
.change-habits-first-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change-habits-second-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change-habits-third-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change-habits-fourth-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Change-Habits-Ends */

/* Run Extra starts */
.run-extra-section{
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.run-extra-content-container{
    display: flex;
    border-radius: 18px;
    min-height: 350px;
    background: #222;
}
.run-extra-text-container h2{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 9px;
}
.run-extra-text-container p{
    color: rgb(128, 127, 127);
    font-weight: 300;
    padding-left: 40px;
    margin-bottom: 30px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
}
.run-extra-text-container button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(255, 0, 132);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 40px;
}
.run-extra-img-container{
    display: flex;
    justify-content: flex-end;
}
.run-img{
    object-fit: none;
    object-position: 68% 32%;
    width: 50%;
    height: 85%;
    border-radius: 18px;
    margin-top: 28px;
    margin-right: 28px;
}

/* Training section starts */
.training-section{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.training-text-container h2{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 9px;
}
.training-text-container p{
    color: rgb(128, 127, 127);
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
}
.training-img-container{
    display: flex;
    flex-direction: column;
}
.training-img-container img{
    border: 1px solid rgba(149, 149, 149, 0.473);
}
.img-row-first{
    display: flex;
}
.img-row-second{
    display: flex;
}
#first-img{
    width: 28%;
    max-height: 260px;
}
#second-img{
    width: 42%;
    max-height: 260px;
}
#third-img{
    width: 30%;
    max-height: 260px;
}
#fourth-img{
    width: 36%;
    max-height: 260px;
}
#fifth-img{
    width: 30%;
    max-height: 260px;
}
#sixth-img{
    width: 34%;
    max-height: 260px;
}

/* Get-Unique-Equipments-Starts */
.unique-equipments{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.unique-text-container h2{
    color: white;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 9px;
}
.unique-text-container p{
    color: rgb(128, 127, 127);
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
}
.shopping-equipment-part{
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 15px;
}
.second-section-content, h1{
    color: rgb(255, 0, 132);
    font-family: "Outfit", sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}
.second-section-content, h3{
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.equipments-container{
    display: grid;
    grid-template-columns: 32.7% 32.7% 32.7%;
    grid-template-rows: 275px 275px;
    padding: 30px 30px;
    gap: 10px;
    border-radius: 12px;
}
.meet-first{
    position: relative;
}
.equipments-container img{
    opacity: 100%;
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.text-eqipment-name{
    color:rgb(0, 0, 0);
    font-weight: 900;
    font-family: "Outfit", sans-serif;
    position: absolute;
    bottom: 20px;
    right: 5px;
    font-size: 20px;
}
.text-eqipment-price{
    color: rgb(0, 0, 0);
    font-family: "Outfit", sans-serif;
    position: absolute;
    bottom: 1px;
    right: 5px;
    font-weight: 600;
    font-size: 20px;
}
.eqipment-shop-button{
    display: flex;
    justify-content: center;
}
.eqipment-shop-button button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(255, 0, 132);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* BMI Calculator Style */
.bmi-text-container{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.bmi-text-container h2{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 9px;
}
.bmi-text-container p{
    color: rgb(128, 127, 127);
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
}
.bmi-calculator-container{
    display: flex;
    justify-content: space-between;
    background: #222;
    padding-left: 150px;
    padding-right: 150px;
}
.bmi-calculator-left{
    display: flex;
    flex-direction: column;
}
.bmi-chart-title h4{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
}
.bmi-chart table {
    width: 120%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bmi-chart th, td {
    color: rgb(155, 155, 155);
    padding: 12px;
    text-align: left;
    border: 1px solid rgb(99, 99, 99);
    font-weight: 300;
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
}
.bmi-chart th {
    color: white;
    font-size: 14px;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
}
.bmi-calculator-title h4{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 10px;
}
.bmi-calculator-title p{
    color: rgb(128, 127, 127);
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
}
.form-container{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 15px 25px;
}
.box{
    border-radius: 5px;
}
#first-name{
    color: rgb(128, 127, 127);
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    padding: 24px 15px;
    border-radius: 10px;
}
#sex-box{
        color: rgb(128, 127, 127);
        border: none;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);
        padding: 24px 15px;
        border-radius: 10px;
}
#last-box{
    color: rgb(128, 127, 127);
    width: 220%;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    padding: 24px 10px;
    border-radius: 10px;
}
select{
    padding-left: 40px;
    width: 106%;
}
option{
    color: white;
    background-color: rgb(169, 158, 144);
}
.calculate-button button{
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(255, 0, 132);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Meet Team Section Style */
.meet-team-section{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.meet-team-text-container h2{
    text-align: center;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 9px;
}
.meet-team-text-container p{
    text-align: center;
    color: rgb(128, 127, 127);
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 11px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 60px;
}
.meet-team-img-container{
    display: grid;
    grid-template-columns: 32.7% 32.7% 32.7%;
    grid-template-rows: 275px 275px;
    padding: 30px 30px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 12px;
}
.meet-first{
    position: relative;
}
.meet-fourth{
    position: relative;
}
.meet-sixth{
    position: relative;
}
.meet-team-img-container img{
    opacity: 80%;
    object-fit: cover;
    object-position: 20% 5%;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.text-overlay-name{
    color: white;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    position: absolute;
    bottom: 20px;
    left: 13px;
    font-size: 20px;
}
.text-overlay-position{
    color: rgba(255, 255, 255, 0.592);
    font-family: "DM Sans", sans-serif;
    position: absolute;
    bottom: 5px;
    left: 13px;
    font-size: 12px;
}

/* footer-Section Starts */
.footer-section{
    background: #222;
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.footer-section-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.footer-brand{
    font-family: "DM Sans", sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: rgb(255, 0, 132);
    font-style: italic;
    padding-top: 60px;
}
.footer-description{
    color: rgb(128, 127, 127);
    text-align: justify;
    font-weight: 350;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
}
.get-started-text{
    font-family: "DM Sans", sans-serif;
    padding-top: 65px;
    padding-left: 20px;
    color: white;
    font-size: 30px;
}
.footer-item{
    list-style: none;  
}
.footer-links{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-link{
    text-decoration: none;
    color: rgba(149, 149, 149, 0.71);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.hr-tag{
    border-bottom: 1px solid rgba(149, 149, 149, 0.588);
}
.copyright{
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
    color: rgba(149, 149, 149, 0.751);
    text-align: center;
}
/* Responsive media Query */

@media screen and (max-width: 576px){

    /* Banner-Page-responsive */
    .nav-links{
        display: none;
    }
    .menu-bar-img{
        display: block;
    }
    .nav-bar{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
    }
    .banner-content-container{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 5px;
    }
    .banner-img{
        width: 100%;
        height: 100%;
    }
    .banner-title{
        margin-top: 20px;
    }
    .banner-card-1{
        width: 150px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        margin-left: -0px;
        margin-top: -150px;
    }
    .banner-button-first{
        width: 135px;
    }
    .banner-button-second{
        width: 135px;
    }
    #circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(255, 0, 132);
    }

    /* Change Habits Responsive */
    .change-habits-section{
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: black;
        padding-left: 10px;
        padding-right: 10px;
    }
    .change-habits-text-container h1{
        font-size: 2.1rem;
    }
    .change-habits-card-title{
        color: rgb(255, 0, 132);
    }
    .change-habits-card-container{
        display: flex;
        flex-direction: column;
    }

    /* Run Extra Section Responsive */
    .run-extra-section{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
    .run-extra-content-container{
        display: flex;
        flex-direction: column;
    }
    .run-extra-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .run-extra-text-container h2{
        padding-left: 0px;
    }
    .run-extra-text-container p{
        width: 273.5px;
        padding-left: 0;
    }
    .run-extra-text-container button{
        margin-left: 0;
        width: 200px;
        height: 40px;
    } 
    .run-img{
        object-fit: cover;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }

    /* Training section Responsive*/
    .training-section{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .training-text-container h2{
        color: white;
        font-family: "DM Sans", sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        margin-bottom: 9px;
    }
    #first-img{
        border-radius: 10px;
        width: 100%;
        max-height: 260px;
    }
    #second-img{
        display: none;
    }
    #third-img{
        display: none;
    }
    #fourth-img{
        display: none;
    }
    #fifth-img{
        display: none;
    }
    #sixth-img{
        display: none;
    }

    /* Get-Unique-Equipments-Responsive */
.unique-equipments{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.unique-text-container h2{
    font-size: 2.5rem;
}
.shopping-equipment-part{
    border-radius: 8px;
}
.equipments-container{
    grid-template-columns: 100%;
    grid-template-rows: 275px 275px;
}
.equipments-container img{
    height: 275px;
}

    /* BMI Calculator Responsive */
    .bmi-text-container{
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .bmi-text-container h2{
        font-weight: 700;
        font-size: 2.5rem;
    }
    .bmi-calculator-container{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .bmi-chart table {
        width: 70%;
    }
    .form-container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 145px);
        gap: 5px 5px;
    }
    #first-name{
        width: 115px;
        background: rgba(255, 255, 255, 0.10);
        border-radius: 6px;
    }
    #sex-box{
        width: 145px;
}
    #last-box{
        width: 295px;
        padding: 24px 15px;
    }
    .calculate-button{
        display: flex;
        justify-content: center;
    }

    /* Meet team Responsive*/
    .meet-team-section{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .meet-team-text-container h2{
        font-weight: 700;
        font-size: 2.5rem;
    }
    .meet-team-img-container{
        grid-template-columns: 100%;
        grid-template-rows: 275px 275px;
    }
    .meet-team-img-container img{
        height: 275px;
    }
    .meet-fourth{
        position: relative;
        display: none;
    }
    .meet-sixth{
        position: relative;
        display: none;
    }
    /* Footer Section Responsive */
    .footer-section{
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-section-container{
        display: flex;
        flex-direction: column;
    }
    .footer-brand{
        font-size: 45px;
        font-weight: 700;
        padding-top: 40px;
    }
    .footer-description{
        text-align: justify;
        font-weight: 350;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .get-started-text{
        font-family: "DM Sans", sans-serif;
        padding-top: 30px;
        padding-left: 0px;
        font-size: 20px;
    }
    .footer-links{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-link{
        font-weight: 400;
    }
    .hr-tag{
        margin-top: 30px;
        border-bottom: 1px solid rgba(149, 149, 149, 0.588);
    }
    .copyright{
        margin-top: 30px;
        padding-bottom: 30px;
        color: rgba(149, 149, 149, 0.751);
        text-align: center;
        font-weight: 300;
    }
}