@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Banner-Page Style Starts */

.banner-page{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(51, 51, 51, 0.788) 100%);
}
.brand{
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 0, 132);
    font-style: italic;
}
.nav-bar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 225px;
    padding-right: 180px;
    padding-top: 50px;
}
.nav-item{
    list-style: none;  
}
.nav-links{
    display: flex;
    gap: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    border-radius: 20px;
    padding: 8px;
    padding-right: 15px;
    padding-left: 3px;
}
.home{
    padding: 5px 15px;
    border: none;
    background-color: rgb(255, 0, 132);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.banner-content-container{
    display: flex;
    justify-content: space-between;
    padding-left: 225px;
    padding-right: 180px;
}
.banner-img{
    width: 100%;
}
.banner-title{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 60px;
    margin-bottom: 30px;
}
.shape-text{
    font-family: "Dancing Script", cursive;
    font-style: italic;
}
.banner-description{
    color: rgb(183, 183, 183);
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
}
.banner-button-first{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(255, 0, 132);
    font-family: "DM Sans", sans-serif;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-right: 10px;
}
.banner-button-second{
    width: 150px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.banner-card-container{
    display: flex;
    gap: 140px;
}
.banner-card-1{
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-left: -70px;
    margin-top: -150px;
}
.banner-card-1 h3{
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 900;
}
.banner-card-1 p{
    font-family: "DM Sans", sans-serif;
    color: rgb(203, 203, 203);
    font-size: 13px;
    font-weight: 200;
}
#circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 0, 132);
}
.banner-card-2{
    width: 130px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    border-radius: 8px;
    text-align: start;
    align-content: center;
    margin-top: -440px;
}
.banner-card-2 h2{
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 900;
}
.banner-card-2 p{
    font-family: "DM Sans", sans-serif;
    color: rgb(203, 203, 203);
    font-size: 13px;
    font-weight: 200;
}

/* Responsive media Query */

@media screen and (max-width: 576px){
    .nav-links{
        display: none;
    }
    .nav-bar{
        padding-left: 10px;
        padding-top: 50px;
    }
    .banner-content-container{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 5px;
    }
    .banner-title{
        margin-top: 20px;
    }
    .banner-card-1{
        width: 150px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        margin-left: -0px;
        margin-top: -150px;
    }
    .banner-button-first{
        width: 150px;
        height: 40px;
        border-radius: 25px;
        background-color: rgb(255, 0, 132);
        font-family: "DM Sans", sans-serif;
        border: none;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 15px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(255, 0, 132);
    }
}